* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

li {
  list-style: none;
  list-style-type: none;
  cursor: pointer;
}

body {
  background-color: #f5f0e1;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}

.wrapper {
  margin: 0 auto;
  width: 1000px;
}

header {
  background: #1e3d59;
}
header a {
  text-decoration: none;
  color: rgb(245, 244, 244);
}

header li {
  display: inline-block;
  vertical-align: top;
  position: relative;
  z-index: 100;
}

header li a {
  display: block;
  padding: 20px;
}

header li a:hover {
  background: rgb(51, 51, 51);
  color: #fff;
}

header li:hover .sub-menu {
  display: block;
  background: rgb(61, 61, 61);
}

.sub-menu {
  display: none;
  position: absolute;
  background-color: aqua;
  width: 200px;
}

.movies-trending {
  margin: 30px auto;
}

.card {
  margin: 10px;
  width: 275px;
}
.card .card-popular {
  color: rgb(53, 53, 53);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.card .card-popular .profile-popular {
  width: 150px;
  height: 225px;
}
.card .card-popular .profile-popular img {
  height: 100%;
  width: 100%;
  border-radius: 10px;
}
.card .card-popular .profile-meta {
  justify-content: center;
  font-size: 10px;
  position: relative;
}
.card .card-popular .profile-meta .name {
  font-weight: 700;
  font-weight: 600;
  word-wrap: break-word;
}

.carousel {
  width: 80%;
  margin: 0 auto;
  overflow: hidden;
}
.carousel .trending {
  display: flex;
  width: 100%;
  -ms-scroll-snap-type: x mandatory;
      scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
  overflow-x: scroll;
}
.carousel .slide {
  width: 100%;
  scroll-snap-align: start;
}

.trendingOnPerson {
  margin: 30px auto;
}
.trendingOnPerson .carouselPerson {
  width: 80%;
  margin: 0 auto;
  overflow: hidden;
}
.trendingOnPerson .carouselPerson .trendingPerson {
  display: flex;
  width: 100%;
  -ms-scroll-snap-type: x mandatory;
      scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
  overflow-x: scroll;
}
.trendingOnPerson .carouselPerson .slide {
  width: 100%;
  scroll-snap-align: start;
}

#canvas {
  border: 1px solid black;
  color: azure;
  border-radius: 150px;
  position: absolute;
  top: -29px;
  left: -1px;
  z-index: 1000;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.visiblity {
  display: none;
}

.green {
  background-color: rgb(2, 219, 2);
}

.red {
  background-color: rgb(207, 2, 2);
}

.Switch {
  display: flex;
  width: 165px;
  border-radius: 50px;
  margin-left: 150px;
  margin-top: 20px;
  font-size: 10px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  border: solid 2px black;
}
.Switch h3 {
  padding: 10px;
  color: black;
}

.search {
  display: flex;
  justify-content: center;
  margin: 30px;
}
.search .Details {
  margin: 20px;
  height: 350px;
  overflow: hidden;
}
.search .Details h3 {
  font-size: 50px;
  padding: 20px;
}
.search .Details P {
  font-size: 20px;
}
.search #pp {
  min-height: 375px;
  height: 375px;
}

#inputSearch {
  padding: 20px;
  width: 600px;
  border-radius: 15px;
  height: 10px;
  margin-top: 100px;
}

button {
  height: 50px;
  width: 100px;
  margin-top: 100px;
  border-radius: 15px;
  cursor: pointer;
}

.filter-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 300px;
  background: url(/img/bladerunner2049.jpg) center/cover;
}
.filter-container h2 {
  font-size: 70px;
}/*# sourceMappingURL=index.css.map */