
//*******MOVIES TREN + card effect for TV & Movies************
.movies-trending.tv-trending  {
  margin: 30px auto;
}

.card{
    margin: 10px;
    width: 275px;
 

  .card-popular {
    color: rgb(53, 53, 53);
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;

    .profile-popular  {
      width: calc(100px * 1.5);
      height: calc(150px * 1.5);
      

      img{
        height: 100%;
        width: 100%;
        border-radius: 10px;
      }
    }

    .profile-meta {
      justify-content: center;
      font-size: 10px;
      position: relative;
   

      .name {
        font-weight: 700;
        font-weight: 600;
        word-wrap: break-word;
        
      }
    }
  }
}

//******Carrousel tendances*******//
  .carousel {
    width: 80%;
    margin: 0 auto;
    overflow: hidden;

    .trending {
      display: flex;
      width: 100%;
      scroll-snap-type: x mandatory;
      -webkit-overflow-scrolling: touch;
      overflow-x: scroll;
    }
    .slide {
      width: 100%;
      scroll-snap-align: start;
    }
  }



//****CANVAS****/
#canvas {
  border: 1px solid black;
  color: azure;
  border-radius: 150px;
  position: absolute;
  top: -29px;
  left: -1px;
  z-index: 1000;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}



//*************Utility******************/
.visiblity {
  display: none;
}


.green {
  background-color: rgb(2, 219, 2);
}

.red {
  background-color: rgb(207, 2, 2);
}

//*************Utility******************


.Switch {
  display: flex;
  width: 165px;
  border-radius: 50px;
  margin-left: 150px;
  margin-top: 20px;
  font-size: 10px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  border: solid 2px black;

  &:hover h3:not(:hover) {
    background: none;
    color: rgb(0, 0, 0);
  }

  h3 {
    padding: 10px;

    &:first-child {
      background: white;
      border-radius: 50px;
      color: black;
    }

    &:hover {
      background: white;
      border-radius: 50px;
      color: black;

      a {
        color: black;
      }
    }
  }
}
