.card {
  width: 300px;
  height: 290px;
  background: rgb(248, 248, 248);
  color: rgb(245, 245, 245);
  border-radius: 20px;
  margin: 5px;
  padding: 10px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  text-align: center;
  position: relative;
  

  h3 {
    color: rgb(247, 247, 247);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    width: 20%;
    height: 30px;
    border-radius: 150px;
    z-index: 100;
    position: absolute;
    width: 38px;
    height: 38px;
    box-sizing: border-box;
    bottom: 70px;
  }

}

 
h2 {
  color: black;
  font-size: 15px;
}
img {
  min-height: calc(139px * 1.5);
  height: calc(139px * 1.5);
  border-radius: 5px;
}

#carousel {
  width: 80%;
  margin: 0 auto;
  overflow: hidden;
}
#trending {
  display: flex;
  width: 100%;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
  overflow-x: scroll;
}
.slide {
  width: 100%;
  scroll-snap-align: start;
}

#scrollbar {
  width: 100%;
  height: 10px;
  background: #ccc;
  position: relative;
}

.movies-trending {
  margin: 30px auto;

  h4 {
    font-size: 30px;
    margin-left: 13rem;
    color: rgb(238, 238, 238);
  }
}

.search {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.filter-container {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 400px;
  background: url(/img/bladerunner2049.jpg) center/cover;
}

#inputSearch {
  padding: 20px;
  width: 600px;
  border-radius: 15px;
  height: 10px;
  margin-top: 200px;
}
button {
  height: 50px;
  width: 100px;
  margin-top: 200px;
  border-radius: 15px;
  cursor: pointer;
}
.search h3 {
  font-size: 50px;
  padding: 20px;
}

#pp {
  min-height: calc(250px * 1.5);
  height: calc(250px * 1.5);
}

.KnowFor img {
  padding: 20px;
}
.visiblity {
  display: none;
}



#carouseltv {
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
  }
  #trendingTv {
    display: flex;
    width: 100%;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    overflow-x: scroll;
  }
  .slide {
    width: 100%;
    scroll-snap-align: start;
  }
  
  #scrollbar {
    width: 100%;
    height: 10px;
    background: #ccc;
    position: relative;
  }
  
  .tv-trending {
    margin: 30px auto;
  
    h4 {
      font-size: 30px;
      margin-left: 13rem;
      color: rgb(238, 238, 238);
    }
  }


  .green {
    background-color: rgb(2, 219, 2);
  }
  
  .red {
    background-color: rgb(207, 2, 2);
  }