nav {
    background-color: rgb(23, 23, 102);
    height: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  
  
    ul {
      display: flex;
      justify-content: space-around;
  
      li {
        font-size: 20px;
        color: white;
        padding: 20px;
      }
    }
  }
  